    <!-- contains the footer container -->
    <section class="footerContainer">
      <div class="container">
        <div class="row flex-rw">
          <div class="copyright">Copyright © 2018-2019 Protos</div>
          <div>
            <a class="mainLink" href="{{ .Site.Params.releasesURL }}"
              ><i class="fas fa-box-open"></i> Releases</a
            ><a class="mainLink" href="{{ .Site.Params.codeURL }}"
              ><i class="fas fa-code-branch"></i> Source code</a
            >
          </div>
        </div>
      </div>
    </section>