<div class="container">
    <div class="headerContainer-flex">
        <div class="headerContainer-logo">
            <img class="headerContainer-image" src="/img/protos_logo.png" />
        </div>
        <div class="headerContainer-links">
            <a class="mainLink" href="/"><i class="fas fa-home"></i> Home</a>
            <a class="mainLink" href="/motivation/"><i class="fas fa-eye"></i> Motivation</a>
            <a class="mainLink" href="/subscribe/"><i class="fas fa-envelope"></i> Subscribe</a>
            <a class="mainLink" href="{{ .Site.Params.releasesURL }}"><i class="fas fa-box-open"></i> Releases</a>
            <a class="mainLink" href="{{ .Site.Params.codeURL }}"><i class="fas fa-code-branch"></i> Source code</a>
        </div>
    </div>
</div>